<div class="container">    

<% if @category %>
  <div class="row">
    <div class="col-8 offset-4 my-3">
      <h4><%= @category.name %>に関するレビュー一覧</h4>
    </div>
  </div>
<% end %>

<%= render 'public/posts/index' %>

</div>