<div class="container">

  <div class="row">
    <div class="col-12 text-center my-3">
      <h4>フォロー中</h4>
    </div>
  </div>

  <div class="row d-flex justify-content-center min-vh-100">
    <div class="col-9 px-0 min-vh-100">
      <% if @users.exists? %>
      <!--フォローしている人がいる場合-->
        <%= render 'public/users/index', users: @users %>
      <% else %>
      <!--フォローしている人がいない場合-->
        <p class="pt-5 text-center">現在フォローしているユーザーはいません</p>
      <% end %>
    </div>
  </div>

</div>