<div class="container">
  
  <div class="row">
    <div class="col-12 text-center my-3">
      <h4>検索結果</h4>
    </div>
  </div>
  
  <% if @range == "User" %>
  <!--ユーザーの検索結果-->
    <div class="row d-flex justify-content-center min-vh-100">
      <div class="col-9 px-0 min-vh-100">
        <% if @users.any? %>
        <!--ユーザーが見つかった場合-->
          <%= render 'public/users/index', users: @users %>
        <% else %>
        <!--ユーザーが見つからなかった場合-->
          <h5 class="pt-5 text-center">該当するユーザーが見つかりませんでした。</h5>
        <% end %>
      </div>
    </div>
      
  <% elsif @range == "Post" %>
  <!--投稿の検索結果-->
    <% if @posts.any? %>
    <!--投稿が見つかった場合-->
      <div id="posts-list">
        <%= render 'public/posts/index' %>
      </div>
      
    <% else %>
    <!--投稿が見つからなかった場合-->
      <h5 class="pt-5 text-center">該当する投稿が見つかりませんでした。</h5>
    <% end %>
    
  <% end %>
  
</div>