<div>
  
  <div>
    <h1>GamersGearについて</h1>
  </div>
  
  <div>
    <p>
      <h3>
        GamersGearは様々なデバイスについてレビューを投稿でき、<br>
        投稿に対してコメントをして情報共有ができるサイトです。
      </h3>
    </p>
  </div>
  
</div>
