<div id="about" class="container ">

  <div class="my-4 text-center">
    <h1>GamersGearについて</h1>
  </div>
  
  <div class="my-3 d-flex justify-content-center">
    <%= image_tag 'keybord.jpg', size: "1000x500" %>
  </div>

  <div class="text-left px-4 py-4">
    <h5>
      <span class="about-font">「ゲーマーズギア」</span>は、ゲーミングデバイスに特化したレビューサイトです。<br>
      ここでは、最新のゲーミングデバイスの紹介やユーザーによる詳細なレビューを提供しています。<br>
    </h5>
    
    <br>
    
    <h4><strong>・当サイトのテーマ</strong></h4>
    <h5>
      当サイトのテーマは「ゲーミングデバイスのレビューと紹介」です。<br>
      私たちは、ゲーマーやデバイス愛好家がデバイスの評価や意見を簡単に確認できるプラットフォームを提供することを目指しています。<br>
    </h5>
    
    <br>
    
    <h4><strong>・テーマを選んだ理由</strong></h4>
    <h5>
      ゲーミングデバイスには多くのメーカーが存在し、その種類も多岐にわたります。<br>
      気になるデバイスがある時に信頼できるレビューを参考にすることで、購入の判断がしやすくなります。<br>
      初心者からプロゲーマーまで「全て」のゲーマーが役立つ情報を得られるサイトを作りたいと考え、このテーマを選びました。<br>
    </h5>
    
    <br>
    
    <h4><strong>・使用素材について</strong></h4>
    <h5>
      当サイトで使用している画像やその他の素材は、フリーイラスト素材として以下のサイトから取得しています。<br>
      ・<a href="https://www.photo-ac.com/" target="_blank" rel="noopener noreferrer">Photo AC</a><br>
      ・<a href="https://www.canva.com/" target="_blank" rel="noopener noreferrer">Canva</a><br>
      これらの素材は全てライセンスに基づき適切に使用されています。再利用する際は各素材のライセンスを確認し、遵守してください。<br>
      Photo ACの素材は<a href="https://www.photo-ac.com/main/terms/" target="_blank" rel="noopener noreferrer">Photo ACの利用規約</a>に従って使用されています。<br>
      Canvaの素材は<a href="https://www.canva.com/ja_jp/policies/terms-of-use/" target="_blank" rel="noopener noreferrer">Canvaの利用規約</a>およびコンテンツライセンスに従って使用されています。<br>
    </h5>
    
    <br>
    
    <h4><strong>・免責事項</strong></h4>
    <h5>
      このプロジェクトはポートフォリオとして作成された架空のアプリケーションです。<br>
      実際の商用利用や特定の団体、個人との関わりはありません。<br>
      提供する情報やリンク先の外部サイトの内容について、一切の責任を負いかねます。<br>
      また、当サイトの情報に基づいて行われるいかなる行動に対しても、責任を負いません。<br>
    </h5>
    
    <br>
    
    <h4><strong>・運営者情報</strong></h4>
    <h5>
      当サイトは、ゲーミングデバイス愛好家によって運営されています。運営者に関する詳細な情報は以下をご覧ください。<br>
      <strong>運営者:</strong> ゲーム太郎<br>
      <strong>連絡先:</strong> info@gamersgear.com<br>
    </h5>
    
    <br>
    
    <h4><strong>・コンタクト情報</strong></h4>
    <h5>
      ご意見、ご質問、ご要望がありましたら、お気軽にご連絡ください。<br>
      お問い合わせフォーム（※ポートフォリオの為、お問い合わせフォームは存在しません）<br>
    </h5>
    
    <br>
    
    <h4><strong>・利用規約とプライバシーポリシー</strong></h5>
    <h5>
      当サイトの利用規約やプライバシーポリシーについては、以下のリンクをご覧ください。<br>
      ・<a href="/terms" target="_blank" rel="noopener noreferrer">利用規約</a><br>
      ・<a href="/privacy_policy" target="_blank" rel="noopener noreferrer">プライバシーポリシー</a><br>
    </h5>
    
    
  </div>

</div>
