<div id="about" class="container text-white" style="background-image: url('/assets/keybord.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">

  <div class="my-4 py-5 text-center">
    <h1>GamersGearについて</h1>
  </div>

  <div class="text-left px-4">
    <h4>
        <strong>「ゲーマーズギア」</strong>は、ゲーミングデバイスに特化したレビューサイトです。<br>
        ここでは、最新のゲーミングデバイスの紹介やユーザーによる詳細なレビューを提供しています。<br>
    </h4>
    <br>
    <h4>
        <strong>・当サイトのテーマ</strong><br>
        当サイトのテーマは「ゲーミングデバイスのレビューと紹介」です。<br>
        私たちは、ゲーマーやデバイス愛好家がデバイスの評価や意見を簡単に確認できるプラットフォームを提供することを目指しています。<br>
    </h4>
    <br>
    <h4>
        <strong>・テーマを選んだ理由</strong><br>
        ゲーミングデバイスには多くのメーカーが存在し、その種類も多岐にわたります。<br>
        気になるデバイスがある時に、信頼できるレビューを参考にすることで、購入の判断がしやすくなります。<br>
        初心者からプロゲーマーまで、全てのゲーマーが役立つ情報を得られるサイトを作りたいと考え、このテーマを選びました。<br>
    </h4>
  </div>

</div>
