<div class="container">
  
  <div class="my-4 text-center">
    <h2>プライバシーポリシー</h2>
  </div>
  
  <div class="text-left px-4 py-4">
    <h5>
      このプライバシーポリシーは、ゲーマーズギア（以下、「当サイト」）が収集する情報の種類、収集方法、およびその情報の使用方法について説明します。
    </h5>
    
    <br>
    
    <h4><strong>1. 情報の収集</strong></h4>
    <h5>
      当サイトでは、お問い合わせフォームを通じて以下の情報を収集することがあります。<br>
      ・名前<br>
      ・メールアドレス<br>
      ・その他の個人情報<br>
    </h5>
    
    <br>
    
    <h4><strong>2. 情報の利用</strong></h4>
    <h5>
      収集した情報は、以下の目的で利用されます。<br>
      ・ユーザーからのお問い合わせに対する回答<br>
      ・サイトの改善やサービス向上<br>
    </h5>
    
    <br>
    
    <h4><strong>3. 情報の保護</strong></h4>
    <h5>
      当サイトは、ユーザーの個人情報を適切に管理し、不正アクセス、紛失、破壊、改ざん、漏洩から保護するために合理的な対策を講じます。
    </h5>
    
    <br>
    
    <h4><strong>4. プライバシーポリシーの変更</strong></h4>
    <h5>
      当サイトは、必要に応じてプライバシーポリシーを変更することがあります。変更後のポリシーは、当サイトに掲載された時点で効力を発生します。
    </h5>
    
  </div>
</div>