<div class="container">
  <div class='row'>

    <div class="col-lg-2 col-md-3 col-sm-4 col-12 border px-0 min-vh-100">
      <!--カテゴリ一覧-->
      <%= render 'layouts/categories' %>
    </div>
  
    <div class="col-lg-8 col-md-6 col-sm-8 col-12 px-0 border-top border-bottom">
      <!--投稿一覧-->
      <div id="posts-list">
        <%= render 'public/posts/index' %>
      </div>
    </div>
  
    <div class="col-lg-2 col-md-3 col-sm-12 col-12 border min-vh-100">
      <!--ユーザー詳細-->
      <%= render 'public/users/info', user: @user %>
    </div>

  </div>
</div>