@use '~bootstrap/scss/bootstrap';

.form-control {
  height: 35px;
  border-radius: 0px;
}

#range {
  height: 35px;
  border-radius: 0px;
}

#about {
//  background-image: image-url('/assets/kani.png');
  background-image: image-url('/seets/keyvord.jpg');
  background-size: cover;
  background-position: center;
  height: 800px;
  color: white;
}