@use '~bootstrap/scss/bootstrap';

.form-control {
  height: 35px;
  border-radius: 0px;
}

#range {
  height: 35px;
  border-radius: 0px;
}

#intro {
  font-size: 14px;
}

#about {
  height: 700px;
}

// レスポンシブ

// モバイル対応
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

// タブレット対応
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 80%;
    padding: 20px;
  }
}

// デスクトップ対応
@media (min-width: 1025px) {
  .container {
    width: 60%;
    padding: 30px;
  }
}