@use '~bootstrap/scss/bootstrap';

.form-control {
  height: 35px;
  border-radius: 0px;
}

#range {
  height: 35px;
  border-radius: 0px;
}

#intro {
  font-size: 14px;
}

#about {
  height: 700px;
  background-image: image-url('/assets/keybord.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// レスポンシブ

// モバイル対応
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

// タブレット対応
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 80%;
  }
}

// デスクトップ対応
@media (min-width: 1025px) {
  .container {
    width: 60%;
  }
}