document.querySelector('#dropdownMenuButton .badge').remove();
var dropdownMenu = document.querySelector('#dropdownMenuButton').nextElementSibling;
dropdownMenu.innerHTML = '<span class="dropdown-item disabled">通知はありません</span>';
