<div class='container px-5 px-sm-0'>
  <div class='row'>
    
    <div class='col-md-3'>
      <div class="mt-3 text-center">
        <h3>プロフィール</h3>
      </div>
      <%= render 'info', user: @user %>
    </div>
    
    <div class='col-md-8 offset-md-1'>
      <div class="mt-3">
        <h3>マイレビュー</h3>
      </div>
      <div class="mt-5">
        <%= render 'public/posts/index', posts: @posts %>
      </div>
    </div>
    
  </div>
</div>

