<div class="mt-5 px-0">

  <div class="pb-5 text-center border-bottom">
    <strong>カテゴリ一覧</strong>
  </div>

  <% @categories.each do |category| %>
    <div class="py-3 pl-4 border-bottom">
      ・<%= link_to category.name, posts_path(category_id: category.id) %>
    </div>
  <% end %>

</div>