<div class="mt-5">
  
  <div class="mb-3 text-center">
    <strong>カテゴリ一覧</strong>
  </div>
    
  <% @categories.each do |category| %>
    <div class="py-2">
      <%= link_to category.name, posts_path(category_id: category.id) %>
    </div>
  <% end %>
    
</div>