<footer style="background-color: #000">
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto text-white'>
    		<p>CopyRight GamersGear</p>
    	</div>
    </div>
  </div>
</footer>